name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  #CI
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: action/checkout@v4

    - name: Use Node 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install deps
      run: npm install

    - name: Run tests
      run: npm run test